@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: VALORANT;
  src: url('/Users/suyog/Desktop/Valo-hub/Valorant Font.ttf')
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #1568bb;
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

.title-logo {
  margin-right: 100px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
}




.agent-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  background-color: rgb(243, 228, 209);
  
}

.each-agent-nothovered {
  /* border: #497ec2 1px solid; */
  border-radius: 10px;
  transition: 0.7s;
}

.each-agent {
  border-radius: 25px;
  background-color: #fe5d6d;
  transition: 0.7s;
  width:332px;
  height: 302px;
}

/* .each-agent:hover {
  background-color: #fd4557;
  transition: 0.7s;
} */

.link-agents {
  width:330px;
  height: 300px;
} 

.agent-img {
  width: auto;
  height: auto;
  border-radius: 10px;
}

.agent-text {
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-align: center;
}

.agent-name {
  font-family: VALORANT, sans-serif;
  font-size: xx-large;
  color: #fffbf5;
  padding: 0.5rem;
}

.agent-info {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  color: #fffbf5;
  font-weight: 300;
}

.agent-detail {
  background-color: rgb(243, 228, 209);
}

.agent-longcard {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding: 2rem;
  /* height: 100vh; */
}

.backdrop {
  background-color: rgb(243, 228, 209);
}

.x {
  flex-basis: 100%;
  text-align: center;
  border: 1px solid black;
  align-items: center;
  border-radius: 25px;
  background-color: #fe5d6d;
  transition: 0.7s;
  width:332px;
  height: 502px;
}

.ability-title {
  font-size: xx-large;
  color: #fffbf5;
  padding: 2rem;
  font-family: VALORANT, sans-serif;
}

.ability-image {
  text-align: center;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.ability-description {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 30px;
  font-size: large;
  color: #fffbf5;
  font-weight: 300;
}

.audio{
}

.audio-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}

.audio-text {
  margin-top: auto;
  margin-bottom: auto;
  font-family: VALORANT, sans-serif;
  font-size: xx-large;
  color: #fe5d6d;
}